div.title {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
}

div.title a {
    text-decoration: none;
    color: #504F59;
}

h1 {
    font-family: 'Arvo';
    font-weight: 400;
    color: #504F59;
    font-size: 45px;
    text-align: center;
    padding-top: 25px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 4px dashed #FEDE5F;
}

h1 a{
    color: #504F59;
    text-decoration: none;
}

h1 a:hover {
    opacity: 0.75;
}

h1 a:visited {
    color: #504F59;
}

h3 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 1.3em;
    color: #504F59;
    letter-spacing: 0.5px;
}

div.blurb {
    font-family: 'Nunito Sans';
    color: #504F59;
    font-size: 20px;
    text-align: center;
    padding-bottom: 35px;
    letter-spacing: 0.5px;
}


div.navigation {
    text-align: center;
    word-spacing: 22px;
}

div.navigation a {
	color: #504F59;
	font-family: 'Arvo';
	font-size: 18px;
	text-decoration: none;
	padding-bottom: 2px;
}

div.navigation a:nth-child(3) {
    border-bottom: 2px solid #FDC900;
    padding-bottom: 3px;
}

div.navigation a:hover {
	border-bottom: 2px solid #FDC900;
    padding-bottom: 3px;
}

div.body {
    font-family: 'Nunito Sans';
    font-size: 1.1em;
    line-height: 1.75;
    color: #504F59;
    width: 500px;
    letter-spacing: 0.5px;
}

div.body a{
    color: #504F59;
    font-weight: 600;
    text-decoration:none;
}

div.body a:hover{
    font-weight: 600;
    text-decoration: none;
    color: #504F59;
    opacity: 0.7;
}

div.flex-container {
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

div.flex-item {
    padding-top: 15px;
    padding-bottom: 20px;
}

div.body2 {
    font-family: 'Nunito Sans';
    font-size: 1.1em;
    line-height: 1.75;
    color: #504F59;
    width: 500px;
    letter-spacing: 0.5px;
    width: 250px;
    padding-left: 50px;
}

div.body2 a{
    color: #504F59;
    font-weight: 600;
    text-decoration:none;
    border-bottom: 2px solid #FDC900;
}

div.body2 a:hover{
    font-weight: 600;
    text-decoration: none;
    color: #504F59;
    opacity: 0.7;
}

div.description {
    padding-left: 40px;
    padding-top: 38px;
}

div.mom img {
    height:200px;
    width:200px;
    padding-left: 50px;
}

div.gurl img {
    padding-top: 20px;
    width: 65%;
}

@media only screen and (max-width:768px)
{
    div.navigation {
    font-size: 5px;
    }
    
    div.mom {
    flex: 0 0 100%;
    justify-content: center;
    }
    
    div.mom img{
    padding-left: 15%;
    padding-top: 20px;
    }
    
    div.description {
    flex: 0 0 100%;
    padding-top: 0px;
    }
    
    div.body {
    padding-top: 20px;
    width: 90%;
    }
    div.body2{
    padding-left: 0px;
    }
}