div.title {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
}

div.title a {
    text-decoration: none;
    color: #504F59;
}

h1 {
    font-family: 'Arvo';
    font-weight: 400;
    color: #504F59;
    font-size: 45px;
    text-align: center;
    padding-top: 25px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 4px dashed #FEDE5F;
}

div.blurb {
    font-family: 'Nunito Sans';
    color: #504F59;
    font-size: 20px;
    text-align: center;
    padding-bottom: 35px;
}


div.navigation {
    text-align: center;
    word-spacing: 22px;
    padding-bottom: 35px;
}

div.navigation a {
	color: #504F59;
	font-family: 'Arvo';
	font-size: 18px;
	text-decoration: none;
	padding-bottom: 2px;
}

div.navigation a:nth-child(3) {
    border-bottom: 2px solid #FDC900;
    padding-bottom: 3px;
}

div.navigation a:hover {
	border-bottom: 2px solid #FDC900;
    padding-bottom: 3px;
}

div.body {
    font-family: 'Nunito Sans';
    font-size: 15px;
    color: #504F59;
    width: 450px;
    letter-spacing: 0.5px;
}

div.flex-container {
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #FAFAFA;
}

div.flex-item {
    padding-top: 15px;
    padding-bottom: 20px;
}

div.description {
    padding-left: 40px;
    padding-top: 38px;
}

div.mom img {
    height:200px;
    width:200px;
    padding-left: 50px;
}

@media only screen and (max-width:768px)
{
    div.mom {
    flex: 0 0 100%;
    justify-content: center;
    }
    
    div.mom img{
    padding-left: 15%;
    padding-top: 20px;
    }
    
    div.description {
    flex: 0 0 100%;
    padding-top: 0px;
    }
    
    div.body {
    width: 90%;
    }
}